/*Finlandica FONT */
@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');
    
body {
    min-height: 100%;
    margin: 0;
    font-family: 'Finlandica', sans-serif;;
    display: block;
    margin: 10px;
    /*no repeat y fixed para ajustar el css gradient de fondo*/
    background-repeat: no-repeat;
    background: linear-gradient(
        0deg, rgba(238,174,202,1) 
        0%, rgba(179,148,233,1) 100%) 
        fixed;
}

/*  Estilizacion de todas las  etiquetas de imagenes */
img {
    border-radius: 8px;
    max-width: 60%;
    height: auto;
}

dt {
    font-style: italic;
}

footer {
    text-align: center;
    padding: 3px;
    color: white;
    border-radius: 8px;
}

.fuente-dl {
    text-align: center;
}

.fondo-gris {  
    background-color: #eee;  
    padding: 0 5px;  
    border: 1px solid #333;  
} 
/*
Demarcar todos los bordes de los elementos HTML
* {
    border: 1px solid black;    
}

*/

nav {
    background-color: pink;
    border-radius: 8px;
    height: 50px;
    text-align: center;
    padding-top: 30px;

}
a {
    padding: 31px;
}
a:visited {  
    color: black;
}  
a:hover { 
    color: white;  
    background-color: grey;  
}  
a:active {
    color: white;  
    background-color: grey;  
} 

#advertencia {
    border: 1px solid red;
    padding: 10px;
    border-radius: 6px;
    margin-right: 300px;
}
/* 
lab-2.html
*/

:enabled {
    background-color: white;
}
:disabled {
    background-color: grey;
}
#hombre:checked+label, #mujer:checked+label {
    font-style: italic;
}
#acuerdo:checked+label {
    background-color: lightblue;
    font-weight: bold;
}

#formulaio2 input:required {
    background-color: lightblue;
}
#formulario2 input:optional {
    background-color: lightgreen;
}
#formulario2 #enviar, #cancelar {
    background: none;
}