/*Finlandica FONT */
@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');
    
body {
    min-height: 100%;
    margin: 0;
    font-family: 'Finlandica', sans-serif;;
    display: block;
    margin: 10px;
    /*no repeat y fixed para ajustar el css gradient de fondo*/
    background-repeat: no-repeat;
    background: linear-gradient(
        0deg, rgba(238,174,202,1) 
        0%, rgba(179,148,233,1) 100%) 
        fixed;
}

/*  Estilizacion de todas las  etiquetas de imagenes */
img {
    border-radius: 8px;
    max-width: 60%;
    height: auto;
}

footer {
    text-align: center;
    padding: 3px;
    color: white;
    border-radius: 8px;
}

.fondo-gris {  
    background-color: #eee;  
    padding: 0 5px;  
    border: 1px solid #333;  
} 

